.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  animation: leap 1s ease-in-out infinite, colorChange 3s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes leap {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-20px);
  }
}

@keyframes colorChange {
  0%, 100% {
    background-color: rgb(255, 215, 0);
  }

  50% {
    background-color: rgb(255, 165, 0);
  }

}