.button {
  font-family: Roboto Mono, monospace;
  border: 1px solid #bdbdbd;
  padding: 10px 15px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
  min-width: 150px;
}

.button:hover {
  background-color: rgb(255, 201, 38);
}

.button--primary {
  background-color: rgb(234, 179, 8);
  border-color: rgb(234, 179, 8);
}

.button--primary:hover {
  background-color: rgb(255, 201, 38);
}

.button--ghost {
  background-color: transparent
}

.button--ghost:hover {
  background-color: rgb(255, 201, 38);
  border-color: rgb(255, 201, 38);
}

.button--disabled {
  color: rgba(51, 51, 51, 0.4);
  cursor: not-allowed;
  background: none;
}

.button--disabled:hover {
  color: rgba(51, 51, 51, 0.4);
  background: none; 
}