.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form__input {
  margin: 0 auto;
  min-width: 270px;
  border-color: rgb(0, 0, 0, 0.2);
}

.form__button {
  margin-top: 5px;
  min-width: 200px;
}

.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: orange;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  padding-bottom: 1px;
  transition: 0.4s;
}

.form__link:hover {
  border-color: orange;
}