@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

.text-yellow {
  color: rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  text-align: center;
  padding-top: 70px;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 30px;
}