.notFount-page {
  margin-top: 15%;
}

.notFount-page__status {
  font-size: 100px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.7);
  color: orange;
  margin-bottom: 10px;
}

.notFount-page__description {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.notFount-page__button {
  text-decoration: none;
}