.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(68, 64, 60);
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__menu__link {
  font-size: 20px;
  font-weight: 500;
  color: rgba(68, 64, 60, 0.8);
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: 0.4s;
}

.header__menu__link:hover {
  color: #333;
  border-color: #333;
}

.header__menu__link.active {
  color: #333;
  border-color: #333;
}

.header__flex {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__cart{
  font-size: 28px;
}