.pizza {
  display: flex;
  gap: 16px;
  padding: 8px 0;
}

.pizza__image {
  width: 130px;
  height: 130px;
}

.pizza__info {
  display: flex;
  flex-direction: column;
}

.pizza__name { 
  font-weight: 500;
  margin-bottom: 5px;
}

.pizza__ingredients {
  font-style: italic;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pizza__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.pizza__price {
  font-size: 14px;
}