.product {
  display: flex;
  gap: 16px;
  padding: 8px 0;
}

.product__image {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.product__info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.product__name {
  font-weight: 500;
  margin-bottom: 5px;
}

.product__ingredients {
  font-style: italic;
  margin-bottom: 10px;
}

.product__actions {
  width: 600px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__price {
  text-align: left;
  font-size: 14px;
}

.product__counter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product__counter-label {
  padding-bottom: 2px;
  width: 30px;
  border-bottom: 2px solid rgb(234, 179, 8);
  font-size: 20px;
}

.product__counter-btn {
  border-radius: 15px;
  padding: 10px 15px;
  min-width: 0;
}

.product__actions-order{
  display: flex;
  align-items: center;
  gap: 15px;
}